.wrapper {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
  gap: 1.25rem;
  display: grid;
}

.section-box {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-radius: 1.5rem;
  overflow: hidden;
}

.section-box-item01 {
  padding-bottom: 3.5rem;
  padding: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.section-box-item01-text {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-size: 1.5rem;
  line-height: 2rem;
}

.section-box-item02 {
  padding: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-radius: 1.5rem;
  top: -1.25rem;
  position: relative;
}

.section-box-item02-content {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  top: -4rem;
  position: relative;
}

.section-box-item02-content-01 {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.gray-text {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.money-text {
  font-weight: 500;
}

.icon-area {
  --tw-bg-opacity: 1;
  background-color: rgb(74 222 128 / var(--tw-bg-opacity));
  border-radius: 9999px;
  width: 6rem;
  height: 6rem;
}

.section-box-item03-content {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.profile-area {
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-bottom: -1.25rem;
  margin-top: -2.5rem;
  position: relative;
}

.profile-area-name {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
